.board{
    width: 600px;
    height: 600px;
    text-align: center;
    transition: 0.5s;
}

table{
    width: 300px;
    height: 300px;
}

.cell{
    background-color: bisque;
}

.cell:hover{
    cursor: pointer;
}

.clicked{
    background-color: green;
}

table{
    margin: 0 auto;

}

.timer{
text-align: right;
font: arial;
background-color: black;
color: white;
margin: 0 auto;
}